@model ResetPasswordViewModel
@using TouristGuide.UI.Models
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Reset your password</h2>


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "myForm" }))
{

    @Html.AntiForgeryToken()
    <hr />
    <div class="row marg bord">

        <div class="row marg bord">
            <div class="col-xs-6 com-md-0-my bord">
            </div>
            <div class="col-xs-6 com-md-2-my bord">
            </div>
            <div class="col-xs-6 com-md-4-my bord">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", align = "center", style = " color #1E90FF; " })
            </div>
            <div class="col-xs-6 com-md-1-my bord">
            </div>
        </div>


    </div>
    <div class="reg bord">


        <div class="row marg">
            <div class="col-xs-6 com-md-0-my bord">
            </div>
            <div class="col-xs-6 com-md-2-my bord">
                @Html.LabelFor(m => m.Password, new { @class = " control-label marg" })
            </div>
            <div class="col-xs-6 com-md-4-my bord">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
            </div>
            <div class="col-xs-6 com-md-1-my bord">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger marg" })
            </div>
        </div>

        <div class="row marg">
            <div class="col-xs-6 com-md-0-my bord">
            </div>
            <div class="col-xs-6 com-md-2-my bord">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label marg textalign" })
            </div>
            <div class="col-xs-6 com-md-4-my bord">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword" })
            </div>
            <div class="col-xs-6 com-md-1-my bord">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger marg" })
            </div>
        </div>

        <div class="row marg bord">
            <div class="col-xs-6 com-md-0-my bord">
            </div>
            <div class="col-xs-6 com-md-3-my bord "></div>
            <div class="col-xs-6 com-md-4-my  bord">
                <input type="submit" class="btn btn-default btn-info" value="Reset" align="center" name="submit" />
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




