<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/tabScript.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/content/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/content/superadmin/popup.css" rel="stylesheet" /> 
    <link href="~/content/superadmin/layout.css" rel="stylesheet" />
</head>
<body onload="tab_on_load()">
    @*NEW STYLE*@
    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/scripts/datatables/jquery.datatables.min.js"></script>
    <nav class="navbar navbar-inverse header">
        <div class="container-fluid container-fluid-traveler">
            <div class="navbar-header navbar-header-logotype">
                <a class="headerlogo" href="/#/main" onclick="tab_change('1')"><img src="~/Content/newtlogo.png" /></a>
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="myFooter">
        <div class="col-md-5">@@ Copyright Traveller 2016</div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
